 /* 
 Cambiar todas las medidas a vw y vh (1vw es la centesima parte de la anchura del dispositivo)
 */
 :root {
     background-color: var(--background-color);
     border: none;
     --footer-color: #a4a4a7;
     --background-color: #F5F5F7;
     --transition-color: #818181;
     --font-color: #000000;
     font-family: Avenir, Helvetica, sans-serif;
 }

 body {
     margin: 0;
 }

 .container-header {
     display: flex;
     justify-content: space-between;
     margin-bottom: 5%;
 }

 .container-logo {
     justify-content: flex-start;
     margin-left: 2.1vw;
     margin-top: 4vh;
 }

 .container-nav {
     justify-content: center;
     margin-top: 4.8vh;
 }

 .social {
     justify-content: flex-end;
     margin-top: 7vh;
     margin-right: 4.85vw;
 }

 .logo {
     width: 6.9vw;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 2vh;
 }

 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: flex-end;
 }

 nav li {
     margin-left: 1.1vw;
 }

 nav a {
     color: var(--font-color);
     text-decoration: none;
     padding: 0.56vw;
     border-radius: 0.25rem;
     transition: 0.5s color;
 }

 nav a:hover {
     color: var(--transition-color);
 }

 .social-red {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: flex-end;
 }

 .social-instagram {
     transition: background-image 0.5s;
     width: 1.4vw;
 }

 .social-facebook {
     transition: background-image 0.5s ease-in-out;
     width: 1.4vw;
 }

 .social-twitter {
     transition: background-image 0.5s ease-in-out;
     width: 1.4vw;
 }

 /*  
.conteiner-title{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
}
h1{
    text-align: center;
    font-size: 620%;
}
.container-header hr {
    background-color: var(--footer-color);
    width: 85%;
}
h2{
    text-align: center;
    font-size: 150%;
}
.container-header p{
    text-align: center;
}
*/
 main {
     margin: 0;
 }

 .conteiner-main {
     display: grid;
     grid-template-columns: 25vw 25vw 25vw;
     grid-column-gap: 3.5vw;
     grid-row-gap: 0px;
     margin-left: 7.9vw;
     margin-right: 7.9vw;
     margin-top: 7.25vh;
 }

 @media (max-width: 768px) {

     /* Estilos para pantallas menores o iguales a 768px */
     .conteiner-main {
         grid-template-columns: 70vw;
         padding: 0;
         border: 0;
         margin: 0;
     }
 }

 .row {
     display: flex;
     width: 27.721vw;
     height: 31.85vh;
     position: relative;

 }

 @media (max-width: 768px) {

     /* Estilos para pantallas menores o iguales a 768px */
     .row {
         width: 100%;
         margin: 0 21% 10% 21%;
         max-height: max-content;
     }
 }

 .conteiner-main img {
     width: 100%;
     position: absolute;
 }

 footer hr {
     background-color: var(--footer-color);
     width: 85%;
     margin-top: 10%;
 }

 .text-footer {
     color: var(--footer-color);
     font-size: 90%;
     text-align: center;

 }

 @media (max-width: 768px) {

     /* Estilos para pantallas menores o iguales a 768px */
     .text-footer {
         color: var(--footer-color);
         font-size: 70%;
         text-align: center;
     }
 }

 @font-face {
     font-family: 'Avenir-Black';
     src: url(../../src/fonts/Avenir/Avenir\ Black.ttf) format('ttf');
 }

 @font-face {
     font-family: 'Avenir-Book';
     src: url(../../src/fonts/Avenir/Avenir\ Book.ttf) format('ttf');
 }

 @font-face {
     font-family: 'Avenir-Heavy';
     src: url(../../src/fonts/Avenir/Avenir\ Heavy.ttf) format('ttf');
 }

 @font-face {
     font-family: 'Avenir-Light';
     src: url(../../src/fonts/Avenir/Avenir\ Light.ttf) format('ttf');
 }

 @font-face {
     font-family: 'Avenir-Regular';
     src: url(../../src/fonts/Avenir/Avenir\ Regular.ttf) format('ttf');
 }